.dataContainer {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.backgroundVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainInfo {
    margin: auto;
    padding: 15px 0;
}

.infoTableWrapper {
    display: grid;
    width: 95%;
    height: 98%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px 30px;
}

.burgerButton,
.burgerButtonActive {
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 10px;
    display: none;

    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.burgerButtonSvg {
    display: block;
    margin: auto;
    fill: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #929292;
}

::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}

@media screen and (max-width: 1410px) {
    .burgerButton {
        display: block;
    }
}

@media screen and (max-height: 720px) {
    .Container {
        height: 100%;
    }
}

@media screen and (max-width: 605px) {
    .mainInfo {
        width: 100vw;
        padding: 25px 0;
    }

    .infoTableWrapper {
        display: flex;
        flex-direction: column;
    }
}