.dataContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.backgroundVideo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.mainInfo {
    margin: auto;
    padding: 15px 0;
}
.infoTableWrapper {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px 30px;
    height: 98%;
}
.burgerButton, .burgerButtonActive {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    display: none;
    z-index: 10000;
}
.burgerButtonSvg {
    display: block;
    margin: auto;
    fill: white;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #929292;
    border-radius: 30px;
  }
::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}
@media screen and (max-width: 1410px) {
    .burgerButton {
        display: block;
    }
}
@media screen and (max-height: 720px) {
    .Container {
        height: 100%;
    }
} 
@media screen and (max-width: 605px) {
    .mainInfo {
        padding: 25px 0;
        width: 100vw;
    }
    .infoTableWrapper {
        display: flex;
        flex-direction: column;
    } 
}