.forecast-days__wrapper {
    /* flex-grow: 1;
    flex-basis: 50%; */
    grid-row: 2 / 4;
    max-width: 535px;
    height: 478px;
    max-height: 706px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(145px);
    -webkit-backdrop-filter: blur(145px);
    border-radius: 15px;
    padding: 14px 17px;
    overflow: hidden;
}
.forecast-days-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #424242;
    text-align: center;
}