.hourItemsWrapper:first-child > .time {
    position: relative;
    max-width: 39.91px;
    color: #373c4200;
}
.hourItemsWrapper:first-child > .time::before {
    content: "Now";
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #373C42;
}
.hourItemsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.time {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #373C42;
}
.degree {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #373C42;
}
.weatherAppIcons {
    width: 40px;
    height: 40px;
}  
@media screen and (max-width: 605px) {
    .time {
        font-size: 17px;
    }
    .degree {
        font-size: 22px;
    }
    .hourItemsWrapper {
        gap: 10px;
    }
}