.modal-items__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
    padding: 17px 16px 5px 16px;
}
.item-header {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.item-description {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(60, 60, 67, 0.6);
    padding-bottom: 8px;
}
.item-wrapper {
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 88, 0.65);
    position: relative;
}
.item-wrapper:last-child {
    border-bottom: none;
}
.confirm-city-check {
    position: absolute;
    top: 13px;
    right: 0;
}