.location-container {
    width: 95%;
    height: 200px;
    border-radius: 14px;
    margin: 30px 20px 20px;
    position: relative;
}
.card-video {
    border-radius: 14px;
}
.location-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(180deg, #101623 0%, #2A3040 100%); */
    width: 100%;
    height: 100%;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
    color: white;
}
.location-container > .background-video {
    border-radius: 14px;
}
.location-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    position: relative;
}
.location-degreeses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.location-subtitle, .location-weather {
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
}
.location-subtitle {
    position: absolute;
    top: 44px;
    left: 0;
}
.location-degree-title {
    font-weight: 300;
    font-size: 110px;
    line-height: 131px;
}