.locationContainer, .locationContainerHovered {
    width: 100%;
    height: 200px;
    border-radius: 14px !important;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.locationContainerHovered {
    background-color: rgba(0, 0, 0, 0.2);
}
.locationContainer > .locationButton {
    display: none;
}
.locationContainerHovered > .locationButton {
    display: block;
}
.locationButton {
    width: 7%;
    height: 15%;
    position: absolute;
    top: 4%;
    right: 1%;
    z-index: 10000;
    padding: 0;
    border: 0;
    background-color: unset;
    cursor: pointer;
}
.locationButtonImage {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.locationButtonImage:hover {
    opacity: 0.3;
}
.savedLocationsContainer {
    width: 100%;
    height: auto;
    margin: 25px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.savedLocationsContainer > .locationContainer {
    margin: 0;
    width: 100%;
}
.cardVideo {
    border-radius: 14px;
}
.locationWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
    color: white;
}
.locationsContainer > .locationContainer > .locationWrapper:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.locationContainer > .backgroundVideo {
    border-radius: 14px;
}
.locationDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    position: relative;
}
.locationDegreeses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.locationTitle {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.locationSubtitle, .locationWeather {
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
}
.locationSubtitle {
    position: absolute;
    top: 44px;
    left: 0;
}
.locationDegreeTitle {
    font-weight: 300;
    font-size: 110px;
    line-height: 131px;
}
.locationCity {
    position: absolute;
    top: 35%;
}
@media screen and (max-width: 862px) {
    .locationContainer {
        height: 100px;
    }
    .locationWrapper {
        padding: 10px 10px;
    }
    .locationDescription {
        font-size: 15px;
        line-height: unset;
    }
    .locationDegreeses {
        justify-content: flex-end;
        align-items: flex-end;
        gap: 35px;
    }
    .locationTitle {
        font-size: 25px;
        line-height: unset;
    }
    .locationSubtitle, .locationWeather, .locationDegreeSubtitle {
        font-size: 20px;
        line-height: unset;
    }
    .locationDegreeTitle {
        font-size: 40px;
        line-height: 10px;
    }
}    
